@{
    ViewData["Title"] = "Home Page";

}

<!--Control Panel and Slider-->
<div style="margin-top: 40px; margin-left:100px; margin-right:100px" id="controlPanelAndSlider">

    <div class="row justify-content-center">

        <div class="col-lg-3 col-sm-12 col-md-12" style="min-height: auto; background-color: rebeccapurple;" id="controlPanel">
            <!--tuka e admin panela -->
            <ul class="navbar-nav sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center">
                    <div class="sidebar-brand-icon ">
                        <img src="~/img/controlPanelLogo.png" width="25px" height="25px" alt="Alternate Text" />
                    </div>
                    <div class="mx-3">Panel</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item -
    -->
                <hr class="sidebar-divider">

                <a class="sidebar-brand d-flex align-items-center justify-content-center" style="cursor:pointer">
                    <div class="sidebar-brand-icon">
                        <img src="~/img/list.png" width="25px" height="25px" alt="Alternate Text" />
                    </div>
                    <div style="font-size: xx-large;" class="mx-3">Categories</div>
                </a>
                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Options
                </div>

                <!-- Nav Item - Pages Collapse Menu -->

                <hr class="sidebar-divider">

                <a class="sidebar-brand d-flex align-items-center" style="cursor:pointer">
                    <img src="~/img/laptop.png" width="50px" height="50px" alt="Alternate Text" />
                    <span style="font-size: xx-large;">Laptops</span>
                </a>

                <hr class="sidebar-divider">
                <!-- Nav Item - Utilities Collapse Menu -->
                <a class="sidebar-brand d-flex align-items-center" style="cursor:pointer">
                    <img src="~/img/monitor.png" width="50px" height="50px" alt="Alternate Text" />
                    <span style="font-size: xx-large;">Monitors</span>
                </a>
                <hr class="sidebar-divider">
                <a class="sidebar-brand d-flex align-items-center" style="cursor:pointer">
                    <img src="~/img/keyboard.png" width="50px" height="50px" alt="Alternate Text" />
                    <span style="font-size: xx-large;">Keyboards</span>
                </a>

                <hr class="sidebar-divider">
                <a class="sidebar-brand d-flex align-items-center" style="cursor:pointer">
                    <img src="~/img/computer.png" width="50px" height="50px" alt="Alternate Text" />
                    <span style="font-size: xx-large;">Computers - PC</span>
                </a>

                <hr class="sidebar-divider">

                <a class="sidebar-brand d-flex align-items-center justify-content-center" style="cursor:pointer">
                    <div class="sidebar-brand-icon">
                        <img src="~/img/more.png" width="25px" height="25px" alt="Alternate Text" />
                    </div>
                    <div style="font-size: xx-large;" class="mx-3">More</div>
                </a>
            </ul>
        </div>


        <div class="col-lg-9 col-sm-12 col-md-12" id="optionsOrSliderParent">
            <!--tuka e slidera ili opciite koito shte budat postaveni -->
            <div class="row align-items-center" id="optionsOrSlider">
                <div class="col-12 text-center align-items-center" style="display: inherit">
                    <img src="~/img/arrow-circle-left-solid.svg" style="width: 60px; height: 60px; position: absolute; cursor:pointer; display:none" alt="Alternate Text" id="leftArrow" />
                    <img src="~/img/option2.jpg" style="width: 100%; height: 100%" alt="Alternate Text" id="mainSlidePic" />
                    <img src="~/img/arrow-circle-right-solid.svg" style="width: 60px; height: 60px; position: relative; right: 60px; cursor:pointer; display: none" alt="Alternate Text" id="rightArrow" />
                </div>
            </div>
        </div>

    </div>
</div>