@model PCHUBStore.View.Models.ProductsViewModel


@if (Model.Pager.EndPage > 1)
{

    <div class="container">
        <div class="row">
            @for (var pg = Model.Pager.StartPage; pg <= Model.Pager.EndPage; pg++)
            {



                <div class="@(pg == Model.Pager.CurrentPage ? "active" : "") page-item">
                    <button onclick="clickPageBtn(this)" value="@pg" class="page-link">@pg</button>
                </div>


            }
        </div>
    </div>
    <script>


        function clickPageBtn(e) {

            let target = e;

            let page = target.innerText;

            document.getElementById('page').value = page;

            document.getElementById('btn').click();


        };

    </script>
}

