@model PCHUBStore.View.Models.LaptopsViewModel


@if (Model.Pager.EndPage > 1)
{
   
        <ul class="pagination col-4">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="~/Laptops">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="~/Laptops?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                </li>
            }

            @for (var pg = Model.Pager.StartPage; pg <= Model.Pager.EndPage; pg++)
            {
                <li class="@(pg == Model.Pager.CurrentPage ? "active" : "") page-item">
                    <a class="page-link" href="~/Laptops?page=@pg">@pg</a>
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link"  href="~/Laptops?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="~/Laptops?page=@(Model.Pager.TotalPages)">Last</a>
                </li>
            }
        </ul>

  
}

