@model PCHUBStore.View.Models.LaptopsViewModel


@if (Model.Pager.EndPage > 1)
{
   
        <ul class="pagination col-4">

            @for (var pg = Model.Pager.StartPage; pg <= Model.Pager.EndPage; pg++)
            {
                <li class="@(pg == Model.Pager.CurrentPage ? "active" : "") page-item">
                    <button onclick="clickPageBtn(this)" value="@pg" class="page-link">@pg</button>
                </li>
            }
         
        </ul>
        <script>
           

            function clickPageBtn(e) {

                 let target = e;

                let page = target.innerText;

                document.getElementById('page').value = page;

                document.getElementById('btn').click();

           
            };

        </script>
}

