@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

    <div class="container">
        <div class="text-center" style="width: inherit">
            <div class="col-2">
                <img class="card-img-top" src="~/img/emailConfirmation.png" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">Thank you for confirming your Email address Summoner.</h5>
                <p class="card-text">Please proceed to the website contetn!</p>
                <a href="/Home/Index" class="btn btn-primary">Home</a>
            </div>
        </div>
    </div>