@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container text-center">
    <div class="text-center" style="width: inherit">
        <div class="col-2">
            <img class="card-img-top" src="~/img/resetPasswordImg.png" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">You have successfully reset your password summoner!</h5>
            <a asp-page="./Login">Log in here</a>
        </div>
    </div>
</div>
