<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PCHUB.WEB</title>
    <link rel="icon" type="image/jpg" sizes="16x16" href="~/lightning.png">
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/css/productsStyle.css" rel="stylesheet">
</head>
<body style="background-color: #F2F1F0; overflow-x: hidden">

    <!-- Navigation -->
    <nav class="navbar" style="max-width: inherit; height: auto; background-color: black" id="nav">
        <!--lightning-->

        <div class="row text-center" style="display: contents">
            <!-- Home -->
            <div style="height:80px;" class="col-sm-6 col-lg-2">
                <a style="display: inline-block" class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/FinalLogo.png" style="width: 200px; height: 50px;" alt="Alternate Text" />
                    <p>Electronics Hub</p>
                </a>
            </div>
            <!-- Search -->
            <div class="col-sm-6 col-lg-4">
                <form class="form-inline m-4 justify-content-center">
                    <input class="form-control mr-sm-4" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>
                </form>
            </div>
            <!-- Shopping Cart -->
            <div style="height:60px;" class="col-sm-6 col-lg-2">
                @if (this.User.IsInRole("StoreUser"))
                {
                    <a style="display: inline-block" class="nav-link text-white"  asp-controller="ShoppingCart" asp-action="ReviewShoppingCart">
                        <img src="~/img/shoppingCart.png" style="width: 50px; height: 50px; z-index: 1" alt="Alternate Text" />
                        <span style="background-color:#152b53; color:#fff; padding:4px; font-weight:bold;">7</span>
                    </a>
                }
            </div>
            <!-- Chat -->
            <div style="height:60px;" class="col-sm-6 col-lg-2">
                <a style="display: inline-block" class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/chat.png" style="width: 50px; height: 50px; " alt="Alternate Text" />
                </a>
            </div>
            <!-- Profile -->
            <div style="height:60px;" class="col-sm-6 col-lg-2">
                <partial name="_LoginPartial" />
            </div>

        </div>


    </nav>
    <!-- Navigation -->

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>

    <!-- Last Checked Products-->
    @if (this.User.Identity.IsAuthenticated)
    {
        <div style="color: black; margin-bottom: 4em" class="container text-center border bg-white">
            <h3 class="bg-white border font-weight-bold">Products that have already been reviewed</h3>
            <div class="row" id="reviewedProducts">

            </div>
        </div>


    }

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">

        <div class="container bg-white">
            <div class="row">
                <div class="col-6">
                    <img src="~/img/tools-solid.svg" style="width: 3em; height: 3em" alt="Alternate Text" />
                    <p>
                        Специализираният компютърен сервиз във София на PC HUB Superstore ще откриете на адрес Люлин 3 бл. 261dsaВ / Бул. Андрей Адсасд, Телефон: +309 2 234 2323
                    </p>
                </div>
                <div class="col-6">
                    <img src="~/img/store-solid.svg" style="width: 3em; height: 3em" alt="Alternate Text" />
                    <p>Магазин за компютри и лаптопи София, Люлин 2 Блок 21261В , Телефон: +3539 325 0808</p>
                </div>
            </div>
        </div>
        <div style="background-color: #6351ce;">
            <div class="container">

                <!-- Grid row-->
                <div class="row py-4 d-flex align-items-center">

                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0">Get connected with us on social networks!</h6>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-7 text-center text-md-right">

                        <!-- Facebook -->
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f white-text mr-4"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                            <i class="fab fa-twitter white-text mr-4"> </i>
                        </a>
                        <!-- Google +-->
                        <a class="gplus-ic">
                            <i class="fab fa-google-plus-g white-text mr-4"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in white-text mr-4"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fab fa-instagram white-text"> </i>
                        </a>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row-->

            </div>
        </div>


        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">

            <!-- Grid row -->
            <div class="row mt-3">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                    <!-- Content -->
                    <h6 class="text-uppercase font-weight-bold">PCHUB Store</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        You can select from wide variety of electronics and pick up a good deal.
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Products</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="#!">Laptops</a>
                    </p>
                    <p>
                        <a href="#!">Mice</a>
                    </p>
                    <p>
                        <a href="#!">Keyboards</a>
                    </p>
                    <p>
                        <a href="#!">Monitors</a>
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">


                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <p>
                            <a href="/User/Profile">Account</a>
                        </p>
                    }
                    else
                    {
                        <p>
                            <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </p>
                        <p>
                            <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </p>
                    }
                    <p>
                        <a href="#!">Shopping Cart</a>
                    </p>
                    <p>
                        <a href="#!">Chat</a>
                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-home mr-3"></i> Sofia, Mladost 2
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> pchubstore@pchub.com
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> + 01 234 567 88
                    </p>


                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

    </footer>
    <!-- Footer -->

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/_layout.js"></script>

    @if (this.User.Identity.IsAuthenticated)
    {
        <script src="~/js/productsHistory.js"></script>
    }
    <script src="~/js/index.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
