<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PCHUB.WEB</title>
    <link rel="icon" type="image/jpg" sizes="16x16" href="~/lightning.png">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

</head>
<body style="background-color: #F2F1F0">

    <header style="margin-left: 10%; margin-right: 10%; margin-top: 10px" class="justify-content-center">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark m-1" id="mainNav">
            <div class="container">
                <!--lightning-->
                <img src="" style="width: 50px; height: 50px; z-index: 1" alt="Alternate Text" id="lightning" />
                <a class="navbar-brand js-scroll-trigger" href="#page-top">PC-HUB</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <!-- style="background-image: url('https://cdn2.unrealengine.com/Fortnite%2Fblog%2Fchapter-2-season-2-update%2F11BR_Evergreens_Blue_NewsHeader-1920x1080-77ade2f5f2bc0312b4978dcd7639adfe00211fe6.jpg'); background-size: cover; background-repeat: no-repeat"-->
        <div class="container" style="background-image: url('https://media.istockphoto.com/vectors/abstract-hexagon-background-technology-polygonal-concept-vector-id996971400'); background-size: cover; background-repeat: no-repeat">
            <div class="row align-items-center">

                <div class="col-lg-3 col-sm-10">
                    <!--logo-->
                    <img src="" style="width: 100%" alt="Alternate Text" id="logo" />
                    <form class="form-inline m-4 justify-content-center">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>

                <div class="col-lg-6 col-sm-10">

                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">
                        <img src="~/img/option1.jpg" style="width: 100%" alt="Alternate Text" id="slideShowPicture" />
                    </a>

                    <div class="container text-center" id="slideShow">
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio" value="option3">
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio" value="option2">
                            </label>
                        </div>
                        <div class="form-check-inline disabled">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio" value="option1">
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="row text-center">
                        <div class="col">
                            <img src="~/shopping-cart-solid.svg" width="50" height="50" alt="Alternate Text" id="shoppingCart" />
                            <p class="alert-link">Shopping Cart</p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            @{await Html.RenderPartialAsync("_LoginPartial.cshtml"); }
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <div style="position: fixed; top: 90px; left:0; display:inline-grid; z-index: -1" id="leftCommercial">
            <img src="" style="width:350px; height:auto" alt="Alternate Text" class="leftSider" />
            <img src="" style="width:350px; height:auto" alt="Alternate Text" class="leftSider" />
            <img src="" style="width:350px; height:auto" alt="Alternate Text" class="leftSider" />
            <img src="" style="width:350px; height:auto; display: none;" alt="Alternate Text" class="leftSider" />
        </div>
        <div style="position: fixed; top: 90px; right:0; display:inline-grid; z-index: -1" id="rightCommercial">

            <img src="" style="width:350px; height:auto" alt="Alternate Text" class="rightSider" />
            <img src="" style="width:350px; height:auto" alt="Alternate Text" class="rightSider" />
            <img src="" style="width:350px; height:auto" alt="Alternate Text" class="rightSider" />
            <img src="" style="width:350px" height:auto" alt="Alternate Text" class="rightSider" />
        </div>
       

    </div>

    <footer class="page-footer font-small mdb-color darken-3 pt-4">

        <!-- Footer Elements -->
        <div class="container">

            <!--Grid row-->
            <div class="row d-flex justify-content-center">

                <!--Grid column-->
                <div class="col-md-6">

                    <!-- Video -->
                    <div class="embed-responsive embed-responsive-16by9 mb-4">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vlDzYIIOYmM"
                                allowfullscreen></iframe>
                    </div>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </div>
        <!-- Footer Elements -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/removeVideoFromIndex.js"></script>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/_layout.js"></script>

    <script src="~/js/index.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
