@using Microsoft.AspNetCore.Identity
@using PCHUBStore.Data.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

    <ul class="navbar-nav">

        @if (SignInManager.IsSignedIn(User))
        {

            @if (this.User.IsInRole("Admin"))
            {
                <li style="height:60px;" class="col">
                    <a style="display: inline-block" class="nav-link text-white" asp-area="Administration" asp-controller="Blacksmith" asp-action="Index">
                        <img src="~/img/Admin-icon.png" style="width: 50px; height: 50px; " alt="Alternate Text" />
                    </a>
                </li>
            }
            else if (this.User.IsInRole("StoreUser"))
            {
                <li style="height:60px;" class="col">
                    <a style="display: inline-block" class="nav-link text-white" asp-controller="User" asp-action="Profile">
                        <img src="~/img/profile.png" style="width: 50px; height: 50px; " alt="Alternate Text" />
                    </a>
                </li>
            }
            else if (this.User.IsInRole("Support"))
            {
                <li style="height:60px;" class="col">
                    <a style="display: inline-block" class="nav-link text-white" asp-area="Support" asp-controller="Home" asp-action="Index">
                        <img src="~/img/profile.png" style="width: 50px; height: 50px; " alt="Alternate Text" />
                    </a>
                </li>
            }

        }
        else
        {
            <li class="nav-item">
                <a class="btn btn-primary" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
