@model ErrorViewModel
@{
    ViewData["Title"] = "404 Not Found Error";
}
    <div class="container text-center">

        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
    </div>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
<div class="container text-center">
    <img src="~/img/404notfound.jpg" style="width: 40em; height: 30em" alt="Alternate Text" />
    <div class="row">
        <div class="col-12">
            <p>Check out our products</p>
        </div>
        <div class="col m-1" style="background-color: orangered">
            <a href="/Category/Laptops" style="color: white">Laptops</a>
        </div>
        <div class="col m-1" style="background-color: orange">
            <a href="/Category/Monitors" style="color: white">Monitors</a>
        </div>
        <div class="col m-1" style="background-color: cornflowerblue">
            <a href="/Category/Computers" style="color: white">Computers</a>
        </div>
        <div class="col m-1" style="background-color: darkcyan">
            <a href="/Category/Keyboards" style="color: white">Keyboards</a>
        </div>
        <div class="col m-1" style="background-color: greenyellow">
            <a href="/Category/Mice" style="color: white">Mice</a>
        </div>
        <hr />
        <div class="col-12">
            <a class="btn btn-info" href="/Home/Index">Go To Home Page</a>
        </div>
    </div>
</div>

