<!-- model ICollection<PCHUBStore.View.Models.LaptopViewModel>


        <div class="col-lg-3 col-sm-12" style="background-color:white">
            <img style="width: inherit; height: 203px" src="~/img/laptop.jpg" alt="Alternate Text" />
            <p style="border-bottom-color: black; border-bottom: solid">206.00 lv</p>
            <p>UPGRADED Acer Aspire 3, A315-54K-36DF, 15.6" FHD, i3-7020U, 8GB, 256GB SSD, Черен | NX.HEEEX.010_NP.ACC11.01V</p>
            <p>Processor</p>
            <p>Hard</p>
            <p>Video Card</p>
            <p>OS</p>
            <p>Make</p>
        </div>


-->



    <div class="row">



        <div class="col-lg-3 col-sm-12 col-md-6" style="background-color:white">

            <img style="width: inherit; height: 203px" src="~/img/laptop.jpg" alt="Alternate Text" />

            <ul class="justify-content-center align-items-center">
                <li style="list-style-image: url('img/listLI.png'); word-break: break-all">
                    <p>
                        UPGRADED Acer Aspire 3, A315-54K-36DF, 15.6" FHD, i3-7020U, 8GB, 256GB SSD, Черен | NX.HEEEX.010_NP.ACC11.01V
                    </p>
                </li>
                <li>Intel Core i3-7020U | Kaby Lake | Dual-Core (2.30 GHz, 3 MB Cache, 14 nm, 15 W)</li>
                <li>4 GB DDR4 / Вградена (1 свободен слот)</li>
                <li>256 GB SSD | М.2 PCIe NVMe (2280)</li>
                <li>Intel HD Graphics 620</li>
                <li>Без операционна система</li>
            </ul>
        </div>

      


    </div>