
<div class="row text-center">



    <div class="col-12" style="background-color:white">
        <h1>Filters</h1>
        <p>Make</p>
        <p>Processor</p>
        <p>Hard</p>
        <p>Video Card</p>
        <p>OS</p>
        <p>Make</p>
    </div>


</div>