<div class="container">

    <div style="margin-top: 3em">
        <div class="row text-center" style="font-size: 25px">
            <div class="col-3 bg-gradient-primary border-left">
                <a asp-area="Administration" asp-controller="Blacksmith" asp-action="EditUserIndexPage" style="color: white">Edit User Index Page</a>
            </div>
            <div class="col-3 bg-gradient-primary border-left">
                <a asp-area="Administration" asp-controller="Blacksmith" asp-action="EditUserCategoryPage" style="color: white">Edit User Category Page</a>
            </div>
            <div class="col-3 border-left bg-gradient-primary">
                <a asp-area="Administration" asp-controller="Products" asp-action="CreateCategory" style="color: white">Create New Category</a>
            </div>
            <div class="col-3 border-left bg-gradient-primary">
                <a asp-area="Administration" asp-controller="Products" asp-action="CreateProduct" style="color: white">Create New Product For Category</a>
            </div>
            <div class="col-3 border-left bg-gradient-primary">
                <a asp-area="Administration" asp-controller="Filters" asp-action="CreateBasicFilters" style="color: white">Create Basic Filters For Category</a>
            </div>
            <div class="col-3 border-left bg-gradient-primary">
                <a asp-area="Administration" asp-controller="Filters" asp-action="CreateFilterCategory" style="color: white">Add Sub View To Category</a>
            </div>
            <div class="col-3 border-left bg-gradient-primary">
                <a asp-area="Administration" asp-controller="Blacksmith" asp-action="CreateAdminAccount" style="color: white">Create New Admin Account</a>
            </div>
            <div class="col-3 border-left bg-gradient-primary">
                <a asp-area="Administration" asp-controller="Blacksmith" asp-action="CreateSupportAccount" style="color: white">Create New Support Account</a>
            </div>
            <div class="col-3 border-left bg-gradient-primary">
                <a asp-area="Administration" asp-controller="Products" asp-action="InsertJsonProduct" style="color: white">Insert Product As Json</a>
            </div>
            <div class="col-3 border-left bg-gradient-primary">
                <a asp-area="Support" asp-controller="ShipmentManager" asp-action="Index" style="color: white">Shipments</a>
            </div>
            <div class="col-3 border-left bg-gradient-primary">
                <a asp-area="Administration" asp-controller="Characteristics" asp-action="Create" style="color: white">Create Characteristics Template For Category</a>
            </div>
            <div class="col-3 border-left bg-gradient-primary">
                <a asp-area="Administration" asp-controller="Characteristics" asp-action="CreateCategory" style="color: white">Create Characteristics Category</a>
            </div>
            <div class="col-3 border-left bg-gradient-primary">
                <a asp-area="Administration" asp-controller="Filters" asp-action="UpdateFilterCategory" style="color: white">Update Filters Category</a>
            </div>
            <div class="col-3 bg-gradient-primary border-left">
                <a asp-area="Support" asp-controller="Home" asp-action="Index" style="color: white">Support</a>
            </div>
        </div>
    </div>
</div>