@{

    ViewData["Title"] = "Edit User Category Page ";

}


<div class="container bg-gradient-primary" style="background-color: black; margin-top: 3em">
    <h1 class="text-center" style="color: white">Edit User Category Page</h1>
</div>

<div class="container text-center" style="margin-top: 3em">
    <div class="row" style="font-size: 25px">
        <div class="col-2 m-1 bg-gradient-primary">
            <a asp-area="Administration" asp-controller="Categories" asp-action="AddBox" style="color: white">Add Box</a>
        </div>         
        <div class="col-2 m-1 bg-gradient-primary">
            <a asp-area="Administration" asp-controller="Categories" asp-action="EditBoxes" style="color: white">Edit Box</a>
        </div>
        <div class="col-2 m-1 bg-gradient-primary">
            <a asp-area="Administration" asp-controller="Categories" asp-action="CreateCategoryPage" style="color: white">Create Category Page</a>
        </div>
        <div class="col-2 m-1 bg-gradient-primary">
            <a asp-area="Administration" asp-controller="Categories" asp-action="EditCategoryPage" style="color: white">Edit Category Page</a>
        </div>
    </div>
</div>