<div class="container text-center" style="margin-top: 3em">
    <div class="row" style="font-size: 25px">
        <div class="col-2 m-1 bg-gradient-primary">
            <a href="" style="color: white">Review Boxes</a>
        </div>
        <div class="col-2 m-1 bg-gradient-primary">
            <a href="" style="color: white">Delete Box</a>
        </div>
        <div class="col-2 m-1 bg-gradient-primary">
            <a href="" style="color: white">Edit Box</a>
        </div>
        <div class="col-2 m-1 bg-gradient-primary">
            <a href="" style="color: white">Add Box</a>
        </div>
        <div class="col-2 m-1 bg-gradient-primary">
            <a href="" style="color: white">Review Index Categories</a>
        </div>
        <div class="col-2 m-1 bg-gradient-primary">
            <a href="" style="color: white">Add Index Category</a>
        </div>
        <div class="col-2 m-1 bg-gradient-primary">
            <a href="" style="color: white">Delete Index Category</a>
        </div>
        <div class="col-2 m-1 bg-gradient-primary">
            <a href="" style="color: white">Edit Index Category</a>
        </div>
        <div class="col-2 m-1 bg-gradient-primary">
            <a href="" style="color: white">Upload Main Slider Pictures</a>
        </div>
        <div class="col-2 m-1 bg-gradient-primary">
            <a href="" style="color: white">Review Main Slider Pictures</a>
        </div>
        <div class="col-2 m-1 bg-gradient-primary">
            <a href="" style="color: white">Delete Main Slider Picture</a>
        </div>
    </div>
</div>