@{

    ViewData["Title"] = "Edit User Category Page ";

}


<div class="container bg-gradient-primary" style="background-color: black; margin-top: 3em">

    <h1 class="text-center" style="color: white">Edit User Category Page</h1>

</div>

<div class="container text-center" style="margin-top: 3em">
    <div class="row" style="font-size: 25px">
        <div class="col-2 m-1 bg-gradient-primary">
            <a href="" style="color: white">Add Box</a>
        </div>
        <div class="col-2 m-1 bg-gradient-primary">
            <a href="" style="color: white">Edit Box</a>
        </div>
        <div class="col-2 m-1 bg-gradient-primary">
            <a href="" style="color: white">Add Category</a>
        </div>
        <div class="col-2 m-1 bg-gradient-primary">
            <a href="" style="color: white">Add Items Category</a>
        </div>
        <div class="col-2 m-1 bg-gradient-primary">
            <a href="" style="color: white">Create Category Page</a>
        </div>
        <div class="col-2 m-1 bg-gradient-primary">
            <a href="" style="color: white">Edit Category</a>
        </div>
    </div>
</div>