
@{

    ViewData["Title"] = "Blacksmith Panel ";

}

<div class="container bg-gradient-primary" style="background-color: black; margin-top: 3em">

    <h1 class="text-center" style="color: white">Blacksmith Panel</h1>

</div>
<div class="container text-center" style="margin-top: 4em">
    <h1 class="text-center" style="color: black">Craft your own web store</h1>
    <img src="~/img/blacksmithSide.jpg" style="width: 20em; height: 15em" alt="Alternate Text" />
    <img src="~/img/blacksmithPanel.jpg" style="width: 20em; height: 15em" alt="Alternate Text" />
    <img src="~/img/blacksmithSide.jpg" style="width: 20em; height: 15em" alt="Alternate Text" />
</div>

<partial name="~/Areas/Administration/Views/Partials/_IndexPartial.cshtml" />