@{

    ViewData["Title"] = "Success Message ";

}


<div class="container">
    <h1 class="bg-success text-center">@this.ViewBag.message</h1>

</div>
<partial name="~/Areas/Administration/Views/Partials/_IndexPartial.cshtml" />