@{
    ViewData["Title"] = "Cart ";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading" style="color: black">Shopping Cart</h1>
    </div>
</section>


<div class="container text-center">

    <img src="~/img/Empty_Shopping_Cart_blog.jpg" style="width: inherit" alt="Alternate Text" />

    <div class="row">
        <div class="col">
            <p>Review the following categories</p>
        </div>
    </div>

</div>