@{
    ViewData["Title"] = "Cart ";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading" style="color: black">Shopping Cart</h1>
    </div>
</section>


<div class="container text-center">

    <img src="~/img/Empty_Shopping_Cart_blog.jpg" style="width: inherit" alt="Alternate Text" />

    <div class="row">
        <div class="col-12">
            <p>Review the following categories</p>
        </div>
        <div class="col m-1" style="background-color: orangered">
            <a href="/Category/Laptops" style="color: white">Laptops</a>
        </div>
        <div class="col m-1" style="background-color: orange">
            <a href="/Category/Monitors" style="color: white">Monitors</a>
        </div>
        <div class="col m-1" style="background-color: cornflowerblue">
            <a href="/Category/Computers" style="color: white">Computers</a>
        </div>
        <div class="col m-1" style="background-color: darkcyan">
            <a href="/Category/Keyboards" style="color: white">Keyboards</a>
        </div>
        <div class="col m-1" style="background-color: greenyellow">
            <a href="/Category/Mice" style="color: white">Mice</a>
        </div>
    </div>

</div>